Some API requests for various transit/traffic apis we'll be using throughout the project

In [89]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup

In [90]:
# MBTA Monthly Ridership
url = 'https://services1.arcgis.com/ceiitspzDAHrdGO1/arcgis/rest/services/MBTA_Monthly_Ridership_By_Mode/FeatureServer/0/query?outFields=*&where=1%3D1&f=geojson'
ridership_response = requests.get(url).text
ridership_json = json.loads(ridership_response)
ridership_df = pd.json_normalize(ridership_json['features'])
ridership_df

,type,id,geometry,properties.service_date,properties.mode,properties.route_or_line,properties.total_monthly_weekday_ridership,properties.average_monthly_weekday_ridersh,properties.countofdates_weekday,properties.total_monthly_ridership,properties.average_monthly_ridership,properties.countofdates,properties.ObjectId
0,Feature,1,None,1498881600000,Bus,Bus,6928955.0,329950.0,21,8661443,279401.0,31,1
1,Feature,2,None,1498881600000,Commuter Rail,Commuter Rail,2698676.0,134934.0,20,2644878,85319.0,31,2
2,Feature,3,None,1498881600000,Rail,Green Line,3626476.0,181324.0,20,4821551.930000003,155534.0,31,3
3,Feature,4,None,1498881600000,Rail,Orange Line,4067013.0,203351.0,20,5096206.17,164394.0,31,4
4,Feature,5,None,1498881600000,Rail,Red Line,5145860.0,257293.0,20,6456710.2,208281.0,31,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,Feature,992,None,1685592000000,Rail,Blue Line,1083549.0,49252.0,22,1361338,45378.0,30,992
992,Feature,993,None,1685592000000,Bus,Bus,5530092.0,251368.0,22,6506803,216893.0,30,993
993,Feature,994,None,1685592000000,Commuter Rail,Commuter Rail,2044565.0,92935.0,22,2288229,76274.0,30,994
994,Feature,995,None,1685592000000,Ferry,Ferry,111753.0,5080.0,22,129884,4329.0,30,995
995,Feature,996,None,1685592000000,Rail,Green Line,2458728.0,111760.0,22,3076007,102534.0,30,996

In [91]:
# MassDOT Traffic Data
url = 'https://gis.massdot.state.ma.us/arcgis/rest/services/Roads/VMT/FeatureServer/9/query?outFields=*&where=1%3D1&f=geojson'
traffic_response = requests.get(url).text
traffic_json = json.loads(traffic_response)
traffic_df = pd.json_normalize(traffic_json['features'])
traffic_df[['properties.Urban_Type', 'properties.City', 'properties.County', 'properties.AADT', 'properties.From_Date']]

,properties.Urban_Type,properties.City,properties.County,properties.AADT,properties.From_Date
0,1,274,17,789,1672531200000
1,1,274,17,789,1672531200000
2,5,227,13,4499,1672531200000
3,5,227,13,4499,1672531200000
4,1,35,25,6922,1672531200000
...,...,...,...,...,...
9995,1,138,27,1154,1672531200000
9996,1,138,27,1154,1672531200000
9997,1,138,27,1154,1672531200000
9998,5,24,15,350,1672531200000
9999,5,24,15,350,1672531200000

In [92]:
#traffic_df = traffic_df.rename(columns={'properties.Urban_Area':'Urban Area ID', 'properties.City':'City ID', 'properties.County':'County ID', 
                               # 'properties.AADT':'Average Annual Daily Traffic', 'properties.From_Date':'From Date'}, inplace=True)
traffic_df

,type,id,geometry.type,geometry.coordinates,properties.OBJECTID,properties.Route_ID,properties.From_Measure,properties.To_Measure,properties.Route_System,properties.Route_Number,...,properties.County,properties.Hwy_Dist,properties.MPO,properties.SP_Station,properties.AADT,properties.VMT,properties.Length,properties.From_Date,properties.To_Date,properties.Shape__Length
0,Feature,1,LineString,"[[-71.07767014507483, 42.38698784550767], [-71...",1,B0933,0.000000,0.023956,B,0933,...,17,4,Boston Region,A-4,789,19,0.023956,1672531200000,None,38.555786
1,Feature,2,LineString,"[[-71.0773601839475, 42.38723956650495], [-71....",2,B0933,0.023956,0.023984,B,0933,...,17,4,Boston Region,A-4,789,0,0.000027,1672531200000,None,0.043951
2,Feature,3,LineString,"[[-72.26421095513129, 42.17790787200686], [-72...",3,B0605,0.000000,0.007934,B,0605,...,13,2,Pioneer Valley,C-5,4499,36,0.007934,1672531200000,None,12.768480
3,Feature,4,LineString,"[[-72.26420587284797, 42.178022765799014], [-7...",4,B0605,0.007934,0.007949,B,0605,...,13,2,Pioneer Valley,C-5,4499,0,0.000015,1672531200000,None,0.024720
4,Feature,5,LineString,"[[-71.03124413012573, 42.370216105503914], [-7...",5,B0720,0.202956,0.203317,B,0720,...,25,6,Boston Region,A-5,6922,2,0.000360,1672531200000,None,0.589299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Feature,9996,LineString,"[[-71.53916461260681, 42.124508246627656], [-7...",9996,L113743 NB,0.000000,0.313953,L,113743,...,27,3,Central Massachusetts,C-2,1154,362,0.313953,1672531200000,None,505.259378
9996,Feature,9997,LineString,"[[-71.54328625109281, 42.127866528273785], [-7...",9997,L113743 NB,0.313953,0.403576,L,113743,...,27,3,Central Massachusetts,C-2,1154,103,0.089623,1672531200000,None,144.234567
9997,Feature,9998,LineString,"[[-71.54467007163424, 42.12865332144228], [-71...",9998,L113743 NB,0.403576,0.428415,L,113743,...,27,3,Central Massachusetts,C-2,1154,29,0.024839,1672531200000,None,39.974273
9998,Feature,9999,LineString,"[[-72.36173471288058, 42.276011159923726], [-7...",9999,L113744 NB,0.000000,0.137425,L,113744,...,15,2,Pioneer Valley,C-7,350,48,0.137425,1672531200000,None,221.164850
9999,Feature,10000,LineString,"[[-72.36156915539163, 42.277987233203525], [-7...",10000,L113744 NB,0.137425,0.410570,L,113744,...,15,2,Pioneer Valley,C-7,350,96,0.273145,1672531200000,None,439.584885

In [93]:
traffic_df.rename(columns={'properties.Urban_Area':'Urban Area ID', 'properties.City':'City ID', 'properties.County':'County ID', 
                               'properties.AADT':'Average Annual Daily Traffic', 'properties.From_Date':'From Date'}, inplace=True)

In [94]:
traffic_df[['Urban Area ID', 'City ID', 'County ID', 'Average Annual Daily Traffic', 'From Date']]

,Urban Area ID,City ID,County ID,Average Annual Daily Traffic,From Date
0,09271,274,17,789,1672531200000
1,09271,274,17,789,1672531200000
2,0,227,13,4499,1672531200000
3,0,227,13,4499,1672531200000
4,09271,35,25,6922,1672531200000
...,...,...,...,...,...
9995,09271,138,27,1154,1672531200000
9996,09271,138,27,1154,1672531200000
9997,09271,138,27,1154,1672531200000
9998,0,24,15,350,1672531200000
9999,0,24,15,350,1672531200000